body{
    background-color: #ebd58e;
    margin: auto;
    text-align: center;
    
}

#container{
    font-size: 1.2rem;

}

#header{
    /* background-color: #7a0202; */
    /* width: 0%; */
    height: 100px;
    margin-top: 10px;
    padding: 10px;
}

.logo{
    width: 120px;
    
}

.students{
    width: 40%;
    height: 200px;
}

nav ul li{
    display: inline;
    margin: 5px;
    list-style: none;
    color: #910000;
    font-weight: bold;
    

}

a:link {
    text-decoration: none;
}

section {
    background-color: #464646;
    color: white;
    width: 80%;
    height: 240px;
    padding: 20px;
    margin: 1% 10%;
    border-radius: 20px;
    
}

#sect-2{
    background-color: #8b0202;
}

.tittle {
    text-align: center;
}


footer{
    background-color: #8b0202;
    color: white;
    padding: 10px;
    width: 82%;
    margin: 10%;
}


#aboutus{
    float: left;
}


#sect-3{
    height: 350px;
    padding: 10px;
}